<!DOCTYPE html>
<html>
<head>
  <title>Calculadora</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="assets/fontawesome/css/fontawesome.min.css" />
  <link rel="stylesheet" href="assets/css/styles.css" />
  <link rel="stylesheet" href="assets/css/calculadora.css" />
</head>
<body>
  <header class="header">
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/calculadora?id_usuario=<%=id_usuario%>">Dose Certa</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-menu">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/calculadora?id_usuario=<%=id_usuario%>">Calculadora</a></li>
            <li><a href="/relatorio?id_usuario=<%=id_usuario%>">Relatório</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Olá, <%=nome%> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/">Sair</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>
  <section id="main-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="jumbotron">
            <h1>Calculadora</h1>
            <p>Entre com os dados para descobrir a dose certa.</p>
            <form method="POST" action="/calculadora?id_usuario=<%=id_usuario%>">
              <div class="form-group">
                <label for="qa">Vazão (L/s)</label>
                <input class="form-control" type="text" id="qa" name="qa" placeholder="Informe a vazão da água (Qa) em L/segundo" required />
              </div>
              <div class="form-group">
                <label for="ph">Dosagem (mg/L)</label>
                <input class="form-control" type="text" name="d" id="d" placeholder="Informe a dosagem do produto químico em mg/L" required />
              </div>
              <div class="form-group">
                <label for="porcentagem">Porcentagem (%)</label>
                <input class="form-control" type="text" name="porcentagem" id="porcentagem" placeholder="Informe a porcentagem da solução do produto químico" required />
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Calcular</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="text-left">Dose Certa</p>
        </div>
        <div class="col-md-6">
          <p class="text-right">Desenvolvido por <strong>Eduardo Mendes</strong> e <strong>Victor Lobo</strong></p>
        </div>
      </div>
    </div>
  </footer>
  <script src="assets/jquery/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>