<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="assets/fontawesome/css/fontawesome.min.css" />
	<link rel="stylesheet" href="assets/css/styles.css" />
	<link rel="stylesheet" href="assets/css/home.css" />
</head>
<body>
	<section id="login-form">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="jumbotron">
						<h1>Olá!</h1>
						<p>Faça login na nossa plataforma.</p>
						<% if(typeof msg !== 'undefined') { %>
							<div class="alert alert-<%=msg.type%> alert-dismissible" role="alert">
							  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							  <%=msg.text%>
							</div>
						<% } %>
						<form method="POST" action="/">
							<div class="form-group">
								<label for="usuario">Usuario</label>
								<input class="form-control" type="text" id="usuario" name="usuario" placeholder="Digite seu usuario" required />
							</div>
							<div class="form-group">
								<label for="senha">Senha</label>
								<input class="form-control" type="password" name="senha" id="senha" placeholder="Digite sua senha" required />
							</div>
							<div class="form-group">
								<button class="btn btn-primary btn-block" type="submit">Login</button>
							</div>
						</form>
						<p><a href="/cadastrar">Cadastre-se</a></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<p class="text-left">Dose Certa</p>
				</div>
				<div class="col-md-6">
					<p class="text-right">Desenvolvido por <strong>Eduardo Mendes</strong> e <strong>Victor Lobo</strong></p>
				</div>
			</div>
		</div>
	</footer>
	<script src="assets/jquery/jquery.min.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>