<!DOCTYPE html>
<html>
<head>
  <title>Relatório</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="assets/fontawesome/css/fontawesome.min.css" />
  <link rel="stylesheet" href="assets/css/styles.css" />
  <link rel="stylesheet" href="assets/css/relatorio.css" />
</head>
<body>
  <header class="header">
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/calculadora?id_usuario=<%=id_usuario%>">Dose Certa</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-menu">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/calculadora?id_usuario=<%=id_usuario%>">Calculadora</a></li>
						<li><a href="/relatorio?id_usuario=<%=id_usuario%>">Relatório</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Olá, <%=nome%> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/">Sair</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>
  <section id="main-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-right">
          <a id="btn-print" class="btn btn-info" href="javascript:;" onclick="window.print()"><i class="fa fa-print"></i> Imprimir relatório</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
          	<thead>
          		<tr>
          			<th>Usuario</th>
          			<th>Vazão (L/s)</th>
          			<th>Dosagem (mg/L)</th>
          			<th>Porcentagem (%)</th>
          			<th>Constante</th>
          			<th>Dosagem Certa (ml/s)</th>
          		</tr>
          	</thead>
          	<tbody>
							<% relatorios.forEach( (relatorio) => { %>
          			<tr>
									<td><%= relatorio.nome_usuario%></td>
									<td><%= relatorio.qa%></td>
									<td><%= relatorio.d%></td>
									<td><%= relatorio.porcentagem%></td>
									<td><%= relatorio.c%></td>
									<td><%= relatorio.qs%></td>
	          		</tr>
							<% }); %>
          	</tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="text-left">Dose Certa</p>
        </div>
        <div class="col-md-6">
          <p class="text-right">Desenvolvido por <strong>Eduardo Mendes</strong> e <strong>Victor Lobo</strong></p>
        </div>
      </div>
    </div>
  </footer>
  <script src="assets/jquery/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>