html,
body {
	height: 100%;
	margin: 0
}
body {
	display: flex;
	flex-flow: column;
}
.header {
	flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}
.navbar{
	border-radius: 0;
    margin: 0;
}
#main-content {
	flex: 1 1 auto;
	padding: 30px 0;
}
.content-centered {
	display: flex;
    align-items: center;
}
.footer {
	flex: 0 1 40px;
	padding: 15px 0;
	background-color: #f8f8f8;
	border: 1px solid #e7e7e7;
}
.footer p {
    margin: 0;
}